<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LaserParamsConverter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LaserParamsConverter.Properties.Settings>
            <setting name="idxFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="idxLaser" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="maxPowerFiber" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="maxPowerCO2" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="inLensFiber" serializeAs="String">
                <value>110</value>
            </setting>
            <setting name="inWattsFiber" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="outLensFiber" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="outWattsFiber" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="inWattsCO2" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="outWattsCO2" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="chkForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="advSetPulseWidth" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="advPulseWidth" serializeAs="String">
                <value>200</value>
            </setting>
        </LaserParamsConverter.Properties.Settings>
    </userSettings>
</configuration>